<% if user_signed_in? %>
<table style="width:100%">
  <tr>
    <th>User</th>
    <th>Semester</th>
	<th>TimeSlot</th>
	<th>Class</th>
  </tr>

<% @semester_schedules.each do |semester_schedule| %>
  <tr>
    <td><%= semester_schedule.User.email %></td>
    <td><%= semester_schedule.SemesterClass.Semester.Description %></td>
	<td><%= semester_schedule.SemesterClass.SchoolClass.Description %></td>
	<td><%= semester_schedule.SemesterClass.TimeSlot.Description %></td>
  </tr>
<% end %>
</table>
<% end %>