<h1>Taylorsville High School</h1>

<% @semesterClassViewModel.each do |semesterClass| %>
	<table>
		<tr>
			<th rowspan="2">
				<%= semesterClass[:Department].Name %>
			</th>
			<% @timeSlots.each do |timeSlot| %>	
				<th>
					<%= timeSlot.Name %>
				</th>
			<% end %>
		</tr>
		<tr>
			<td></td>
			<% @timeSlots.each do |timeSlot| %>
				<td>
				<% semesterClass[:SemesterClasses].find_all{ |sc| sc.TimeSlotId == timeSlot.id }.each do |sc| %>
					<%= sc.SchoolClass.Name %>
					<br />
				<% end %>
				</td>
			<% end %>
		</tr>
	</table>
<% end %>
